* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 56, 62);
}

#box {
    height: auto;
    width: 350px;
    border: 2px solid rgb(112, 111, 129);
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(30, 30, 35);
}

h1 {
    color: blueviolet;
    margin-bottom: 10px;
}

h6 {
    color: aliceblue;
    margin-bottom: 20px;
}

form div {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

label {
    color: white;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
}
